.common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common__content {
    font-size: var(--size-xl);
    text-align: justify;
    padding: 1em;
    max-width: 25ch;
    margin: auto;
}

.common__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.pc-img {
    padding-bottom: .5em;
    max-width: 18em;
}

.phone-img {
    max-width: 7.75em;
}

/* md */
@media (min-width: 768px) {
    .common__img-wrapper {
        flex-direction: row;
    }

    .pc-img {
        padding-bottom: 0;
        padding-right: 2em;
        max-width: 30em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .common__content {
        font-size: var(--size-2xl);
    }

    .pc-img {
        max-width: 40em;
    }

    .phone-img {
        max-width: 10.25em;
    }
}

/* xl */
@media (min-width: 1280px) {
    .common__content {
        font-size: var(--size-3xl);
    }

    .pc-img {
        max-width: 50em;
    }

    .phone-img {
        max-width: 12.75em;
    }
}