.password {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--clr-indigo);
    padding-bottom: 1em;
}

.password p {
    text-align: center;
    font-size: var(--size-lg);
    max-width: 25ch;
    margin: auto;
}

.password input {
    font-size: var(--size-sm);
    border-radius: 10px;
    width: 70%;
    margin: .5em;
}

.input-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password__elm {
    padding: 1em;
}

.password__input {
    background-color: var(--clr-light);
}

.submit__input {
    background: var(--clr-indigo);
    color: var(--clr-light);
    transition: all .3s ease-in-out;
    letter-spacing: .2em;
}

.submit__input:hover {
    cursor: pointer;
    background: var(--clr-rose);
}

/* md */
@media (min-width: 768px) {
    .password p {
        font-size: var(--size-2xl);
    }

    .password input {
        font-size: var(--size-xl);
    }
}

/* lg */
@media (min-width: 1024px) {
    .password p {
        font-size: var(--size-3xl);
    }
}