.secret {
    display: none;
}

.secret__container-header {
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secret__container-header h2 {
    font-size: var(--size-5xl);
    text-align: center;
    padding-bottom: 1em;
}

.secret__main {
    border-bottom: 3px solid var(--clr-rose);
}

.secret__main h4 {
    padding: 1em;
    max-width: 25ch;
    margin: auto;
    font-size: var(--size-xl);
    text-align: justify;
}

.secret__main-description {
    padding: 1em;
    max-width: 25ch;
    margin: auto;
    font-size: var(--size-lg);
    text-align: justify;
}

.secret__footer-description {
    padding: 1em;
    max-width: 25ch;
    margin: auto;
    font-size: var(--size-lg);
    text-align: justify;
}

.secret__footer-apologise {
    border-top: 3px solid var(--clr-rose);
}

.iloveyou {
    color: var(--clr-rose);
}

.secret__footer-description.iloveyou {
    font-weight: 600;
    text-align: center;
}
.secret__video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secret__video-for-u {
    max-width: 15em;
}

/* md */
@media (min-width: 768px) {
    .secret__container-header h2 {
        font-size: var(--size-3xl);
    }

    .secret__main h4 {
        max-width: 40ch;
        font-size: var(--size-xl);
    }

    .secret__main-description {
        max-width: 40ch;
    }

    .secret__footer-description {
        max-width: 40ch;
    }
}

/* lg */
@media (min-width: 1024px) {
    .secret__container-header h2 {
        font-size: var(--size-5xl);
    }

    .secret__main h4 {
        max-width: 50ch;
        font-size: var(--size-2xl);
    }

    .secret__main-description {
        font-size: var(--size-xl);
        max-width: 60ch;
    }

    .secret__footer-description {
        font-size: var(--size-xl);
        max-width: 60ch;
    }
}