.summary {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--clr-indigo);
    padding: 1em 0;
}

.friends__description {
    font-size: var(--size-2xl);
    font-weight: 700;
    text-align: center;
    max-width: 20ch;
    margin: auto;
}

.friends__description strong {
    color: var(--clr-rose);
}

.friends__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-friends {
    max-width: 17em;
    padding: 1em 0;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15em;
    max-height: 30em;
}

.video__description {
    font-size: var(--size-xl);
    text-align: center;
    padding: 1em;
}

.my-video {
    border-radius: 10px;
}

/* md */
@media (min-width: 768px) {
    .friends__description {
        font-size: var(--size-3xl);
    }

    .my-friends {
        max-width: 30em;
    }

    .video__description {
        font-size: var(--size-2xl);
    }

    .video {
        max-width: 30em;
    }

    .my-video {
        width: 30em;
        height: 30em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .friends__description {
        font-size: var(--size-5xl);
    }

    .video__description {
        font-size: var(--size-3xl);
    }

    .my-friends {
        max-width: 50em;
    }

    .video {
        max-width: 50em;
        max-height: 50em;
    }

    .my-video {
        width: 50em;
        height: 50em;
    }
}