.tj {
    display: none;
}

.tj__container-header {
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tj__container-header h2 {
    font-size: var(--size-5xl);
    text-align: center;
    padding-bottom: 1em;
}

.tj__container-header img {
    max-width: 20em;
}

.tj-memories {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tj-memories__header {
    padding: 0 1em;
    font-size: var(--size-3xl);
}

.tj-memories__description {
    padding: 1em;
    font-size: var(--size-md);
    max-width: 60ch;
    margin: auto;
}

.tj-memory {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tj-memory__content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tj-memory__wrapper {
    position: relative;
}

/* .tj-memory__wrapper::after {
    content: "";
    background-color: rgba(79, 70, 229, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
} */

/* .tj-memory__wrapper:hover::after {
    background: none;
} */

.tj-memory__video-container::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tj-memory__title {
    font-size: var(--size-xl);
}

.tj-memory__subtitle {
    display: none;
}

.tj-memory__description {
    font-size: var(--size-md);
    max-width: 60ch;
    margin: 1rem auto;
}

.tj-memory__img {
    padding: 1em 0;
    border-radius: 10px;
    max-width: 20em;
}

.tj-memory__video {
    padding: 1em 0;
    border-radius: 10px;
    max-width: 20em;
}

.tj__footer-description {
    padding: 1em;
    max-width: 60ch;
    margin: auto;
    font-size: var(--size-lg);
    text-align: justify;
}

/* md */
@media (min-width: 768px) {
    .tj__container-header h2 {
        font-size: var(--size-3xl);
    }

    .tj__container-header img {
        max-width: 40em;
    }

    .tj-memories__description {
        font-size: var(--size-xl);
    }

    .tj-memory {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* to robi taki fajny zygzak */
        grid-template-areas:
            "image1 content1"
            "content2 image2"
            "image3 content3"
            "content4 image4"
            "image5 content5"
            "content6 image6"
            "image7 content7"
            "content8 image8";
        place-items: center;
        padding: 2em;
    }

    .tj-memory__image1 {
        grid-area: image1;
    }

    .tj-memory__image2 {
        grid-area: image2;
    }

    .tj-memory__image3 {
        grid-area: image3;
    }

    .tj-memory__image4 {
        grid-area: image4;
    }

    .tj-memory__image5 {
        grid-area: image5;
    }

    .tj-memory__image6 {
        grid-area: image6;
    }

    .tj-memory__image7 {
        grid-area: image7;
    }

    .tj-memory__image8 {
        grid-area: image8;
    }


    .tj-memory__content1 {
        grid-area: content1;
    }

    .tj-memory__content2 {
        grid-area: content2;
    }

    .tj-memory__content3 {
        grid-area: content3;
    }

    .tj-memory__content4 {
        grid-area: content4;
    }

    .tj-memory__content5 {
        grid-area: content5;
    }

    .tj-memory__content6 {
        grid-area: content6;
    }

    .tj-memory__content7 {
        grid-area: content7;
    }

    .tj-memory__content8 {
        grid-area: content8;
    }

    .tj-memory__title {
        display: none;
    }

    .tj-memory__subtitle {
        display: block;
        font-size: var(--size-2xl);
        text-align: center;
    }

    .tj-memory__description {
        font-size: var(--size-lg);
        margin: 0 2em;
    }

    .tj-memory__img {
        max-width: 25em;
    }

}

/* lg */
@media (min-width: 1024px) {
    .tj__container-header h2 {
        font-size: var(--size-5xl);
    }

    .tj__container-header img {
        max-width: 60em;
    }

    .tj-memory__subtitle {
        font-size: var(--size-3xl);
    }

    .tj__footer-description {
        font-size: var(--size-xl);
    }
}