.wachowiak {
    display: none;
}

.wachowiak__container-header {
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wachowiak__container-header h2 {
    font-size: var(--size-5xl);
    text-align: center;
    padding-bottom: 1em;
}

.wachowiak__container-header img {
    max-width: 20em;
}

.wachowiak-memories {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wachowiak-memories__header {
    padding: 0 1em;
    font-size: var(--size-3xl);
}

.wachowiak-memories__description {
    padding: 1em;
    font-size: var(--size-md);
    max-width: 60ch;
    margin: auto;
}

.wachowiak-memory {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wachowiak-memory__content {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wachowiak-memory__wrapper {
    position: relative;
}

.wachowiak-memory__title {
    font-size: var(--size-xl);
}

.wachowiak-memory__subtitle {
    display: none;
}

.wachowiak-memory__description {
    font-size: var(--size-md);
    max-width: 60ch;
    margin: 1rem auto;
}

.wachowiak-memory__description strong {
    color: var(--clr-rose);
}

.wachowiak-memory__img {
    padding: 1em 0;
    border-radius: 10px;
    max-width: 20em;
}

/* md */
@media (min-width: 768px) {
    .wachowiak__container-header h2 {
        font-size: var(--size-3xl);
    }

    .wachowiak__container-header img {
        max-width: 40em;
    }

    .wachowiak-memories__description {
        font-size: var(--size-xl);
    }

    .wachowiak-memory {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* to robi taki fajny zygzak */
        grid-template-areas:
            "image1 content1"
            "content2 image2"
            "image3 content3"
            "content4 image4"
            "image5 content5";
        place-items: center;
        padding: 2em;
    }

    .wachowiak-memory__image1 {
        grid-area: image1;
    }

    .wachowiak-memory__image2 {
        grid-area: image2;
    }

    .wachowiak-memory__content1 {
        grid-area: content1;
    }

    .wachowiak-memory__content2 {
        grid-area: content2;
    }

    .wachowiak-memory__title {
        display: none;
    }

    .wachowiak-memory__subtitle {
        display: block;
        font-size: var(--size-2xl);
        text-align: center;
    }

    .wachowiak-memory__description {
        font-size: var(--size-lg);
        margin: 0 2em;
    }

    .wachowiak-memory__img {
        max-width: 25em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .wachowiak__container-header h2 {
        font-size: var(--size-5xl);
    }

    .wachowiak__container-header img {
        max-width: 60em;
    }

    .wachowiak-memory__subtitle {
        font-size: var(--size-3xl);
    }

    .wachowiak__footer-description {
        font-size: var(--size-xl);
    }
}